@font-face {
  font-family: 'Myriad Pro2';
  src: url('fonts/MyriadPro-Regular.eot?v=2');
  src: url('fonts/MyriadPro-Regular.eot?#iefix&v=2') format('embedded-opentype'),
       url('fonts/MyriadPro-Regular.woff?v=2') format('woff'),
       url('fonts/MyriadPro-Regular.ttf?v=2') format('truetype'),
       url('fonts/MyriadPro-Regular.svg#augie') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Myriad Pro2';
  src: url('fonts/MyriadPro-Bold.eot?v=2');
  src: url('fonts/MyriadPro-Bold.eot?#iefix&v=2') format('embedded-opentype'),
       url('fonts/MyriadPro-Bold.woff?v=2') format('woff'),
       url('fonts/MyriadPro-Bold.ttf?v=2') format('truetype'),
       url('fonts/MyriadPro-Bold.svg#augie?v=2') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'segoe2';
  src: url('fonts/segoepr.eot');
  src: url('fonts/segoepr.eot?#iefix') format('embedded-opentype'),
       url('fonts/segoepr.woff') format('woff'),
       url('fonts/segoepr.ttf') format('truetype'),
       url('fonts/segoepr.svg#augie') format('svg');
  font-weight: normal;
  font-style: normal;
}
a img
{
border: 0px;
}

body
{
margin: 0px;
}

#logo
{
width: 173px;
  height: 31px;
  margin-top: 8px;
  background-image: url('imgs/logos_.png');
}

.center
{
margin-left: auto;
margin-right: auto;
width: 950px;
}

#HeaderMenu 
{
height: 45px;
  padding-top: 16px;
}

#HeaderMenu select
{
  border: 1px solid rgb(210,213,218);
  font-family: "Myriad Pro", "Myriad Pro2";
font-size:14px;
  color: rgb(141,141,141);
  width: 111px;
  height: 24px;
}

#imageWrapper
{
float: left;
height: 45px;
}

.SeperatorImg
{
height: 45px;
width: 2px;
float: left;
margin-left: 22px;
background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAtCAMAAACzkkr1AAAAaVBMVEXAvLz////X1NT////AvLzAvLzAvLzPzMz////////////AvLz////AvLz////AvLz////////AvLz////AvLz////////AvLz////AvLzAvLz////////////AvLzAvLzAvLz///////+OAs6tAAAAI3RSTlNYWQJWVEwRB0pSUEZFQUA8OjUzLy4pIyIdHBcVDgg5KSgZEUQ96f0AAABbSURBVAjXZY1HDoAwEMRMS+g9lIT+/0eykbgh+TaWhzD80Bq9e9SGerCOdWGeOA3jQN/RtFQ1RUmSkuTEGXEEQvAjkkkE0bxcpFQlTc3RSsfXLiNl37c3ysnjCxCPBE3LxBXBAAAAAElFTkSuQmCC");
display: inline-block;
}

#FotterItems
{
float: left;
background-position: bottom;
background-repeat: no-repeat;
width: 750px;
height: 45px;
margin-left: 6px;
margin-top: -5px;
}

#FotterItems img
{
float: left;
}

.itemTriangle {
  margin-top: 5px;
  float: left;
  width: 10px;
  background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAM1BMVEUAAAAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjAprjCJy+1DAAAAEHRSTlMArz/jeGnz8OfDwLmEPCQJuQFDNAAAAD5JREFUCNdNjUcSACAMAomxV/7/WqMX5bTDUAA4URUHk+eVN48UPTxQyLB6JCuSITAb08P4B17tG7sXOZ+LDb6YA4KwQN6HAAAAAElFTkSuQmCC");
  height: 10px;
  display: inline-block;
}

#SitesDetails
{

}



#Facebook img {
  margin-top: 8px;
}

.FotterItem
{
vertical-align:text-bottom;
float: left;
height: 45px;
padding-top: 14px;
}

.FotterItem  a
{
text-decoration: none;
font-family: "Myriad Pro", "Myriad Pro2";
color:rgb(82,148,101);
font-size:18px;
margin-left: 6px;

}

#FAQ
{
margin-left: 37px;
}

#Donate
{
margin-left: 19px;
}

#Toolbar
{
margin-left: 17px;
}

#langComboBox
{
  margin-top: 3px;
}

#HeaderRightSide
{
float:right;
}

#GooglePlus
{
margin-top: 3px;
}

#GooglePlus div
{
width: 80px !important;
}

#GooglePlus div iframe
{
width: 80px !important;
}

#Facebook
{
margin-left: 13px;
padding-top: 19px;
}

#HeaderBackground
{
z-index: -1;
position: absolute;
  height: 61px;
margin-left: 0%;
width: 100%;
background: linear-gradient(to bottom, white, #e0e0e0);
}

.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}
.dropdown
{
  width: 111px;
  margin: 0;
  padding:0;
  height: auto;
  margin-top: 17px;
}


.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:rgb(141,141,141); text-decoration:none; outline:none;}
.dropdown a:hover { color:rgb(141,141,141);}
.dropdown dt a:hover, .dropdown dt a:focus { color:rgb(141,141,141); border: 1px solid rgb(142,177,235);}
.dropdown dt a {
  background:#FFFFFF url(imgs/flagsV2.png?v=2) no-repeat scroll right center;
background-position: 88px -385px;
  display:block;
  padding-right:17px;
  border:1px solid rgb(210,213,218);
  width:87px;
  color: rgb(141,141,141) !important;
transition-duration: 0.3s;
  -webkit-transition-property: color, background-color, border-color;
transition-property: color, background-color, border-color;
}
.dropdown dt a span {
  cursor:pointer;
  display:block;
  padding:2px;
  
  font-family: "Myriad Pro", "Myriad Pro2";
font-size:14px !important;
  padding-left: 5px;
}

.dropdown dd ul {
  background:#FFFFFF none repeat scroll 0 0;
  border:1px solid rgb(210,213,218);
  color:rgb(141,141,141);
  display:none;
  left:0px;
  position:absolute;
  width:auto;
  min-width:103px;
  list-style:none;
z-index: 3000;    
}
.dropdown dd ul  a
{
  font-size:14px !important;
  margin-left: 0px !important;
  padding-left: 5px !important;
}

.dropdown dt a {
  margin-left: 0px !important;
}

.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:2px; display:block;}
.dropdown dd ul li a:hover { background-color:rgb(30,144,255); color: rgb(255,255,255);}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}

.dropdown dd ul a img
{
margin-top: 2px;
margin-right: 4px;
}

#CountryFlag
{
margin-left:3px;
margin-top:5px;
}

.flagItem.ar { background-position: 0px 0px;  } 
.flagItem.es { background-position: 0px -11px;  } 
.flagItem.fr { background-position: 0px -22px;  } 
.flagItem.el { background-position: 0px -33px;  } 
.flagItem.he { background-position: 0px -44px;  } 
.flagItem.hu { background-position: 0px -55px;  } 
.flagItem.id { background-position: 0px -330px;  } 
.flagItem.it { background-position: 0px -66px;  } 
.flagItem.jp { background-position: 0px -77px;  } 
.flagItem.da { background-position: 0px -88px;  } 
.flagItem.pt { background-position: 0px -99px;  } 
.flagItem.ru { background-position: 0px -110px;  } 
.flagItem.sv { background-position: 0px -121px;  } 
.flagItem.tr { background-position: 0px -132px;  } 
.flagItem.www { background-position: 0px -143px;  } 
.flagItem.hi { background-position: 0px -154px;  } 
.flagItem.cs { background-position: 0px -165px;  } 
.flagItem.de { background-position: 0px -176px;  } 
.flagItem.fi { background-position: 0px -187px;  } 
.flagItem.ko { background-position: 0px -198px;  } 
.flagItem.ro { background-position: 0px -209px;  } 
.flagItem.fil { background-position: 0px -220px;  }
.flagItem.nl { background-position: 0px -231px;  } 
.flagItem.pl { background-position: 0px -242px;  } 
.flagItem.sk { background-position: 0px -253px;  } 
.flagItem.uk { background-position: 0px -264px;  } 
.flagItem.vi { background-position: 0px -275px;  }  
.flagItem.zh-cn { background-position: 0px -286px;  } 
.flagItem.zh { background-position: 0px -319px;  } 
.flagItem.no { background-position: 0px -297px;  } 
.flagItem.th { background-position: 0px -308px;  } 
.flagItem.mn { background-position: 0px -341px;  } 
.flagItem.pk { background-position: 0px -352px;  } 
.flagItem.my { background-position: 0px -363px;  } 
.flagItem.fa { background-position: 0px -374px;  } 



.flagItem
{
background: url('imgs/flagsV2.png?v=2') no-repeat top left;
width: 16px;
height: 11px;
margin-top: 2px;
margin-right: 4px;
float: left;
}

#Fotter
{
clear: left;
background: linear-gradient(to bottom, #004F81, #00688B, #004F81);
height: 340px;
margin-top: 2px;

}

#FotterContent
{
padding-top:45px;
}

#FotterContent ul 
{
 list-style-type: none;   
 margin-left:-40px;
 margin-top: 14px;
}


.FotterSperator
{
padding-top:11px;
}

#FotterLeftSide
{
float:left;
width:146px;

}

#FotterContent a
{
text-decoration: none;
}

#FotterContent a:hover
{
text-decoration: underline;
}

#FotterContent li
{
margin-top: 5px;
height: 20px;
font-size: 14px;
font-family: "Myriad Pro", "Myriad Pro2";
}

#FotterLeftSide li a
{
margin-top: 5px;
color: rgb(198,219,227);
}

#FotterMiddleSide
{
float:left;
width:468px;
margin-left:30px;
}

#FotterMiddleSide li a
{
color: rgb(128,210,224);
}

#FotterMiddleTitle
{
font-family: "Myriad Pro", "Myriad Pro2";
font-weight: bold;
font-size: 16px;
color:white;
height: 21px;
}

#FotterLeftMiddleList
{
float:left;
}

#FotterRightMiddleList
{
float:left;
margin-left:50px;
}

#FotterRightSide
{
  float:left;
  margin-left:6px;
}

#FacebookPageBox
{
background-color:rgb(239,239,239);
}

div#shortSeperator {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJIAAAADAgMAAAAFL777AAAACVBMVEVeZXL6+vzv8PMyhBLjAAAAA3RSTlMCJBOMpLDIAAAAEklEQVQI12MgDqiGEgYNxBkFALVODEUzzBf3AAAAAElFTkSuQmCC');
  height: 3px;
}

div#longSeperator {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdQAAAADAgMAAABXBRbcAAAACVBMVEVeZXL5+vzv8PO0EGBNAAAAA3RSTlMCJBOMpLDIAAAAE0lEQVQY02MYGKAaSn8QwTAgAAC0RiatRjrjbQAAAABJRU5ErkJggg==');
  height: 3px;
}

#logoFotter
{
background-image: url('imgs/logos_.png');
background-position: 0 -31px;
width: 121px;
height: 21px;
}